<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New question list</title>
</head>
<body>
{% for q in questions %}
    <div class="com" style="border: 1px solid red; height: 200px">
        {{q}}
    </div>
    {% endfor %}

<ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
    <a href="{{ paginator.baseurl }}{{p}}">
        {{p}}</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
